<a href="https://colab.research.google.com/github/SanGyuk-Raccoon/DACON_1/blob/main/ver_10_repeat_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Set Random Seed
seed = 81288

## Import Library
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd   
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold

from lightgbm import LGBMClassifier
import xgboost

from sklearn.metrics import log_loss
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
##############################################################################
########################### Setting User Functions ###########################
##############################################################################

##############################################################################
########## Normalization
##############################################################################
def norm_scale(data, var) :
  M = data[ var ].max()
  m = data[ var ].min()
  result = (data[ var ] - m) / ( M - m )

  return result

##############################################################################
########## Standardization
##############################################################################
def stand_scale(data, var) :
  M = data[ var ].max()
  sd = data[ var ].std()
  result = ( data[ var ] - M ) / sd

  return result

##############################################################################
########## Calculate by Group
##############################################################################
def conti_by_cate(GROUP, CONTI, DATA, method) :
  group = GROUP
  var = CONTI
  vec = []
  if method == 'mean' :
    vec = DATA.groupby( group )[ var ].mean()
  elif method == 'min' :
    vec = DATA.groupby( group )[ var ].min()
  elif method == 'max' :
    vec = DATA.groupby( group )[ var ].max()
  elif method == 'skew' :
    vec = DATA.groupby( group )[ var ].skew()
  elif method == 'med' :
    vec = DATA.groupby( group )[ var ].median()
  elif method == 'std' :
    vec = DATA.groupby( group )[ var ].std()
    
  idx = vec.index

  for i in range(len(vec)) :
    DATA.loc[DATA[group] == idx[i], f'{var}_by_{group}_{method}'] = vec[i]

  result = DATA[f'{var}_by_{group}_{method}']
  DATA = DATA.drop(f'{var}_by_{group}_{method}', axis = 1, inplace = True)

  return result

In [3]:
# Load DATA
train_raw = pd.read_csv("/content/drive/MyDrive/DACON/[월간 데이콘] 14. 신용카드 사용자 연체 예측 AI/train_update.csv")
train_raw.head()

   index gender car reality  ...   occyp_type  family_size begin_month credit
0      0      F   N       N  ...     Laborers          2.0        -6.0    1.0
1      1      F   N       Y  ...     Laborers          3.0        -5.0    1.0
2      2      M   Y       Y  ...     Managers          2.0       -22.0    2.0
3      3      F   N       Y  ...  Sales staff          2.0       -37.0    0.0
4      4      F   Y       Y  ...     Managers          2.0       -26.0    2.0

[5 rows x 20 columns]

In [4]:
def pre_processing(DATA, GROUP, VAR, METHOD) :
  data =  DATA

  ############################################################################################
  data['income_type'] =data['income_type'].apply(lambda x : 'Pensioner' if x == 'Student' else x) # Student가 Pensioner과 가장 소득이 비슷함

  #############################################################################################
  data = data.drop(['index', 'FLAG_MOBIL'], axis = 1)

  #### 1. gender
  mapping_gender = {
      'F' : 0, # Female = 0
      'M' : 1  # Male = 1
  }
  data['gender_mapping'] = data.gender.map(mapping_gender)

  # 2. car
  mapping_car = {
      'N' : 0,
      'Y' : 1
  }
  data['car_mapping'] = data.car.map(mapping_car)

  # 3. reality
  mapping_reality = {
      'N' : 0,
      'Y' : 1
  }
  data['reality_mapping'] = data.reality.map(mapping_reality)

  ##
  #data['family_type'] =data['family_type'].apply(lambda x : 'Married' if x == 'Civil marriage' else x) 
  #data['family_type'] =data['family_type'].apply(lambda x : 'Single / not married' if x == 'Separated' else x)
  #data['family_type'] =data['family_type'].apply(lambda x : 'Single / not married' if x == 'Widow' else x)
  ##########################################################################

  

  ##########################################################################
  data['income_total'] = data['income_total']
  data['DAYS_BIRTH'] = - data['DAYS_BIRTH']
  data['DAYS_EMPLOYED'] = data['DAYS_EMPLOYED'].apply( lambda x : - x if x < 0 else 0)
  data['begin_month'] = - data['begin_month']
  ##########################################################################
  data['birth_employed'] = data['DAYS_BIRTH'] - data['DAYS_EMPLOYED']
  data['employed_begin'] = data['DAYS_EMPLOYED'] - data['begin_month'] * (365 / 12)
  data['birth_begin'] = data['DAYS_BIRTH'] - data['begin_month'] * (365 / 12)
  ##########################################################################
  data['income_by_birth'] = data['income_total'] / data['DAYS_BIRTH']
#  data['income_by_employ'] = data['income_total'] / (data['DAYS_EMPLOYED'] + 1)
#  data['income_by_month'] = data['income_total'] / (data['begin_month'] + 1)
  ########################################################################
  data['child_num'] = data['child_num'].apply(lambda x : 2 if x > 2 else x)
  data['family_size'] = data['family_size'].apply(lambda x : 4 if x > 4 else x)
  ########################################################################

  ########################################################################
  data['P_W_E'] = data['phone'].astype(str) + "_" + data['work_phone'].astype(str) + "_" + data['email'].astype(str)
  data['P_W_E_mapping'] = data['P_W_E'].apply(lambda x : 1 if x == '0_0_0' else 0)
  
  
  data['gender_family'] = data['gender'] + "_" + data['family_type']  
  data['gender_family_mapping'] = data['gender_family'].apply(lambda x : 1 if x == 'F_Married' else 0)
 
  data['car_reality'] = data['car'] + "_" + data['reality']
  data['car_reality_mapping'] = data['car_reality'].apply(lambda x : 1 if x == 'N_Y' else 0)
  
  data['house_type_mapping'] = data['house_type'].apply(lambda x : 1 if x == 'House / apartment' else 0)
  
  ##
  new_conti_var = pd.DataFrame()

  new_conti_var = pd.concat( [ new_conti_var, conti_by_cate(GROUP, VAR, data, METHOD) ], axis = 1 )

  new_conti_var = pd.concat( [ new_conti_var, pd.Series(data[VAR] / conti_by_cate(GROUP, VAR, data, METHOD),
                                                        name = f'{VAR}_divide_{METHOD}_by_{GROUP}' )], axis = 1 )
      
  data = pd.concat([data, norm_scale(new_conti_var, new_conti_var.columns)], axis = 1 )

  ##
  
  
  
  
  ########################################################################## 정규화
  scale_var = ['income_total', 'income_by_birth']
  data[ scale_var ] = stand_scale(data, scale_var )
  norm_var = ['DAYS_BIRTH', 'DAYS_EMPLOYED', 'begin_month', 'birth_employed', 'employed_begin', 'birth_begin']
  data[ norm_var ] = norm_scale(data, norm_var )
  ########################################################################
  

  
  ########################################################################
  
  ## ['mean', 'max', 'skew', 'min', 'median', 'std']
 
  ########################################################################
  

  ########################################################################
  var = ['occyp_type', 'income_type',
        'family_type', 'house_type', 'edu_type',
         'phone', 'work_phone', 'email', 'P_W_E_mapping'
         ]

  var2 = ['P_W_E', 'car_reality', 'gender_family']
  
  ######################################################
  data = data.drop(['gender', 'car', 'reality'] + var + var2, axis = 1)
  
  col = data.columns[data.isnull().sum(axis = 0) == 0]
  data = data[col]

  return data

In [10]:
def TRAINER(TRAIN) :
  skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=seed)
    
  folds=[]
  for train_idx, valid_idx in skf.split(TRAIN, TRAIN['credit']):
      folds.append((train_idx, valid_idx))

  xgb_models={}
  xgb_logloss = []
  for fold in range(5):
    train_idx, valid_idx = folds[fold]
    X_train, X_valid, y_train, y_valid = TRAIN.drop(['credit'],axis=1).loc[train_idx], TRAIN.drop(['credit'],axis=1).loc[valid_idx],\
                                        TRAIN['credit'][train_idx], TRAIN['credit'][valid_idx]                                  

    eval_list = [(X_train, y_train),
                (X_valid, y_valid)]

    xgb_model = xgboost.XGBClassifier(objective = 'multi:softprob',
                eval_metric = 'mlogloss',
                learning_rate = 0.1,
                early_stoppings = 100,
                num_class = 3,
                max_depth = 8,
                n_estimators = 100                                   
                ) 

    xgb_model.fit(X_train,
                  y_train,
                  eval_set = eval_list,
                  verbose = False
                  )

    loss = log_loss(y_valid,
    xgb_model.predict_proba(X_valid))
    xgb_logloss.append(loss)
    xgb_models[fold]=xgb_model
    

  print(f'Mean of log_loss : {np.mean(xgb_logloss):.5}')

In [12]:
class TRAINER(object) :
  def __init__(self, DATA, GROUP, VAR, METHOD) :
    self.DATA = pre_processing(DATA, GROUP, VAR, METHOD)
    self.GROUP = GROUP
    self.VAR = VAR
    self.METHOD = METHOD
    self.logloss = []


  def train(self) :
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=seed)
    
    folds=[]
    for train_idx, valid_idx in skf.split(self.DATA, self.DATA['credit']):
      folds.append((train_idx, valid_idx))
    
      X_train, X_valid, y_train, y_valid = self.DATA.drop(['credit'],axis=1).loc[train_idx], self.DATA.drop(['credit'],axis=1).loc[valid_idx],\
                                          self.DATA['credit'][train_idx], self.DATA['credit'][valid_idx]                                  

      eval_list = [(X_train, y_train),
                  (X_valid, y_valid)]

      xgb_model = xgboost.XGBClassifier(objective = 'multi:softprob',
                  eval_metric = 'mlogloss',
                  learning_rate = 0.1,
                  early_stoppings = 100,
                  num_class = 3,
                  max_depth = 8,
                  n_estimators = 100                                   
                  ) 

      xgb_model.fit(X_train,
                    y_train,
                    eval_set = eval_list,
                    verbose = False
                    )

      loss = log_loss(y_valid,
      xgb_model.predict_proba(X_valid))
      self.logloss.append(loss)

In [17]:
METHOD = ['mean', 'max', 'min', 'median', 'skew', 'std']
VAR = ['income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'begin_month']
GROUP = ['P_W_E', 'P_W_E_mapping',
          'gender_family', 'gender_family_mapping',
          'car_reality', 'car_reality_mapping',
          'income_type', 
          'house_type', 'house_type_mapping', 
          'occyp_type']

result = pd.DataFrame()
n = 1
total = len(GROUP) * len(VAR) * len(METHOD)

for group in GROUP :
  for var in VAR :
    for method in METHOD :
      try : 
        X = TRAINER(train_raw, group, var, method)
        X.train()
        result = pd.concat([result,
                          pd.DataFrame( [[X.GROUP, X.VAR, X.METHOD, np.mean(X.logloss)]]) ], axis = 0)
      except :
        pass

      print(f'============ {n/total * 100:.2f}% 완료 ===========')
      n = n + 1

============ 0.42% 완료 ===========
============ 0.83% 완료 ===========
============ 1.25% 완료 ===========
============ 1.67% 완료 ===========
============ 2.08% 완료 ===========
============ 2.50% 완료 ===========
============ 2.92% 완료 ===========
============ 3.33% 완료 ===========
============ 3.75% 완료 ===========
============ 4.17% 완료 ===========
============ 4.58% 완료 ===========
============ 5.00% 완료 ===========
============ 5.42% 완료 ===========
============ 5.83% 완료 ===========
============ 6.25% 완료 ===========
============ 6.67% 완료 ===========
============ 7.08% 완료 ===========
============ 7.50% 완료 ===========
============ 7.92% 완료 ===========
============ 8.33% 완료 ===========
============ 8.75% 완료 ===========
============ 9.17% 완료 ===========
============ 9.58% 완료 ===========
============ 10.00% 완료 ===========
============ 10.42% 완료 ===========
============ 10.83% 완료 ===========
============ 11.25% 완료 ===========
============ 11.67% 완료 ===========
============ 12.08% 완료 ===========
============ 12.50% 완료 ===========
============ 12.92% 완료 ===========
============ 13.33% 완료 ===========
============ 13.75% 완료 ===========
============ 14.17% 완료 ===========
============ 14.58% 완료 ===========
============ 15.00% 완료 ===========
============ 15.42% 완료 ===========
============ 15.83% 완료 ===========
============ 16.25% 완료 ===========
============ 16.67% 완료 ===========
============ 17.08% 완료 ===========
============ 17.50% 완료 ===========
============ 17.92% 완료 ===========
============ 18.33% 완료 ===========
============ 18.75% 완료 ===========
============ 19.17% 완료 ===========
============ 19.58% 완료 ===========
============ 20.00% 완료 ===========
============ 20.42% 완료 ===========
============ 20.83% 완료 ===========
============ 21.25% 완료 ===========
============ 21.67% 완료 ===========
============ 22.08% 완료 ===========
============ 22.50% 완료 ===========
============ 22.92% 완료 ===========
============ 23.33% 완료 ===========
============ 23.75% 완료 ===========
============ 24.17% 완료 ===========
============ 24.58% 완료 ===========
============ 25.00% 완료 ===========
============ 25.42% 완료 ===========
============ 25.83% 완료 ===========
============ 26.25% 완료 ===========
============ 26.67% 완료 ===========
============ 27.08% 완료 ===========
============ 27.50% 완료 ===========
============ 27.92% 완료 ===========
============ 28.33% 완료 ===========
============ 28.75% 완료 ===========
============ 29.17% 완료 ===========
============ 29.58% 완료 ===========
============ 30.00% 완료 ===========
============ 30.42% 완료 ===========
============ 30.83% 완료 ===========
============ 31.25% 완료 ===========
============ 31.67% 완료 ===========
============ 32.08% 완료 ===========
============ 32.50% 완료 ===========
============ 32.92% 완료 ===========
============ 33.33% 완료 ===========
============ 33.75% 완료 ===========
============ 34.17% 완료 ===========
============ 34.58% 완료 ===========
============ 35.00% 완료 ===========
============ 35.42% 완료 ===========
============ 35.83% 완료 ===========
============ 36.25% 완료 ===========
============ 36.67% 완료 ===========
============ 37.08% 완료 ===========
============ 37.50% 완료 ===========
============ 37.92% 완료 ===========
============ 38.33% 완료 ===========
============ 38.75% 완료 ===========
============ 39.17% 완료 ===========
============ 39.58% 완료 ===========
============ 40.00% 완료 ===========
============ 40.42% 완료 ===========
============ 40.83% 완료 ===========
============ 41.25% 완료 ===========
============ 41.67% 완료 ===========
============ 42.08% 완료 ===========
============ 42.50% 완료 ===========
============ 42.92% 완료 ===========
============ 43.33% 완료 ===========
============ 43.75% 완료 ===========
============ 44.17% 완료 ===========
============ 44.58% 완료 ===========
============ 45.00% 완료 ===========
============ 45.42% 완료 ===========
============ 45.83% 완료 ===========
============ 46.25% 완료 ===========
============ 46.67% 완료 ===========
============ 47.08% 완료 ===========
============ 47.50% 완료 ===========
============ 47.92% 완료 ===========
============ 48.33% 완료 ===========
============ 48.75% 완료 ===========
============ 49.17% 완료 ===========
============ 49.58% 완료 ===========
============ 50.00% 완료 ===========
============ 50.42% 완료 ===========
============ 50.83% 완료 ===========
============ 51.25% 완료 ===========
============ 51.67% 완료 ===========
============ 52.08% 완료 ===========
============ 52.50% 완료 ===========
============ 52.92% 완료 ===========
============ 53.33% 완료 ===========
============ 53.75% 완료 ===========
============ 54.17% 완료 ===========
============ 54.58% 완료 ===========
============ 55.00% 완료 ===========
============ 55.42% 완료 ===========
============ 55.83% 완료 ===========
============ 56.25% 완료 ===========
============ 56.67% 완료 ===========
============ 57.08% 완료 ===========
============ 57.50% 완료 ===========
============ 57.92% 완료 ===========
============ 58.33% 완료 ===========
============ 58.75% 완료 ===========
============ 59.17% 완료 ===========
============ 59.58% 완료 ===========
============ 60.00% 완료 ===========
============ 60.42% 완료 ===========
============ 60.83% 완료 ===========
============ 61.25% 완료 ===========
============ 61.67% 완료 ===========
============ 62.08% 완료 ===========
============ 62.50% 완료 ===========
============ 62.92% 완료 ===========
============ 63.33% 완료 ===========
============ 63.75% 완료 ===========
============ 64.17% 완료 ===========
============ 64.58% 완료 ===========
============ 65.00% 완료 ===========
============ 65.42% 완료 ===========
============ 65.83% 완료 ===========
============ 66.25% 완료 ===========
============ 66.67% 완료 ===========
============ 67.08% 완료 ===========
============ 67.50% 완료 ===========
============ 67.92% 완료 ===========
============ 68.33% 완료 ===========
============ 68.75% 완료 ===========
============ 69.17% 완료 ===========
============ 69.58% 완료 ===========
============ 70.00% 완료 ===========
============ 70.42% 완료 ===========
============ 70.83% 완료 ===========
============ 71.25% 완료 ===========
============ 71.67% 완료 ===========
============ 72.08% 완료 ===========
============ 72.50% 완료 ===========
============ 72.92% 완료 ===========
============ 73.33% 완료 ===========
============ 73.75% 완료 ===========
============ 74.17% 완료 ===========
============ 74.58% 완료 ===========
============ 75.00% 완료 ===========
============ 75.42% 완료 ===========
============ 75.83% 완료 ===========
============ 76.25% 완료 ===========
============ 76.67% 완료 ===========
============ 77.08% 완료 ===========
============ 77.50% 완료 ===========
============ 77.92% 완료 ===========
============ 78.33% 완료 ===========
============ 78.75% 완료 ===========
============ 79.17% 완료 ===========
============ 79.58% 완료 ===========
============ 80.00% 완료 ===========
============ 80.42% 완료 ===========
============ 80.83% 완료 ===========
============ 81.25% 완료 ===========
============ 81.67% 완료 ===========
============ 82.08% 완료 ===========
============ 82.50% 완료 ===========
============ 82.92% 완료 ===========
============ 83.33% 완료 ===========
============ 83.75% 완료 ===========
============ 84.17% 완료 ===========
============ 84.58% 완료 ===========
============ 85.00% 완료 ===========
============ 85.42% 완료 ===========
============ 85.83% 완료 ===========
============ 86.25% 완료 ===========
============ 86.67% 완료 ===========
============ 87.08% 완료 ===========
============ 87.50% 완료 ===========
============ 87.92% 완료 ===========
============ 88.33% 완료 ===========
============ 88.75% 완료 ===========
============ 89.17% 완료 ===========
============ 89.58% 완료 ===========
============ 90.00% 완료 ===========
============ 90.42% 완료 ===========
============ 90.83% 완료 ===========
============ 91.25% 완료 ===========
============ 91.67% 완료 ===========
============ 92.08% 완료 ===========
============ 92.50% 완료 ===========
============ 92.92% 완료 ===========
============ 93.33% 완료 ===========
============ 93.75% 완료 ===========
============ 94.17% 완료 ===========
============ 94.58% 완료 ===========
============ 95.00% 완료 ===========
============ 95.42% 완료 ===========
============ 95.83% 완료 ===========
============ 96.25% 완료 ===========
============ 96.67% 완료 ===========
============ 97.08% 완료 ===========
============ 97.50% 완료 ===========
============ 97.92% 완료 ===========
============ 98.33% 완료 ===========
============ 98.75% 완료 ===========
============ 99.17% 완료 ===========
============ 99.58% 완료 ===========
============ 100.00% 완료 ===========

In [18]:
result.to_csv("/content/drive/MyDrive/DACON/[월간 데이콘] 14. 신용카드 사용자 연체 예측 AI/ver.10 result.csv", index = False)

In [24]:
result.sort_values(3)

                        0            1     2         3
0                   P_W_E   DAYS_BIRTH  mean  0.754850
0                   P_W_E   DAYS_BIRTH  skew  0.755004
0                   P_W_E   DAYS_BIRTH   std  0.755404
0                   P_W_E   DAYS_BIRTH   max  0.755407
0           gender_family   DAYS_BIRTH  mean  0.755524
..                    ...          ...   ...       ...
0           gender_family  begin_month   std  0.762062
0     car_reality_mapping  begin_month  mean  0.762171
0              occyp_type  begin_month  skew  0.762909
0           gender_family  begin_month  skew  0.763786
0   gender_family_mapping  begin_month  skew  0.763829

[200 rows x 4 columns]