<a href="https://colab.research.google.com/github/SanGyuk-Raccoon/DACON_1/blob/main/ver_6_find_other_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [48]:
# Load DATA
train = pd.read_csv("/content/drive/MyDrive/DACON/[월간 데이콘] 14. 신용카드 사용자 연체 예측 AI/train.csv")

In [4]:
train.head()

   index gender car reality  ...   occyp_type  family_size begin_month credit
0      0      F   N       N  ...          NaN          2.0        -6.0    1.0
1      1      F   N       Y  ...     Laborers          3.0        -5.0    1.0
2      2      M   Y       Y  ...     Managers          2.0       -22.0    2.0
3      3      F   N       Y  ...  Sales staff          2.0       -37.0    0.0
4      4      F   Y       Y  ...     Managers          2.0       -26.0    2.0

[5 rows x 20 columns]

In [27]:
var_identi = ['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']
train.loc[train.duplicated(var_identi)]

       index gender car  ... family_size  begin_month  credit
192      192      F   N  ...         2.0        -14.0     2.0
210      210      F   Y  ...         2.0          0.0     1.0
319      319      F   N  ...         3.0        -21.0     2.0
328      328      M   Y  ...         3.0        -22.0     2.0
330      330      F   N  ...         1.0        -18.0     2.0
...      ...    ...  ..  ...         ...          ...     ...
26447  26447      M   N  ...         4.0        -43.0     2.0
26448  26448      M   N  ...         2.0        -23.0     0.0
26449  26449      F   N  ...         2.0         -2.0     1.0
26451  26451      F   N  ...         2.0        -44.0     1.0
26452  26452      F   N  ...         4.0         -2.0     1.0

[17732 rows x 20 columns]

In [53]:
#################그룹 내 순위 구하기#################################################
data = train.sort_values('begin_month')

data['ord_avg'] = data.groupby( var_identi )['begin_month'].rank(method = 'average')
data['ord_min'] = data.groupby( var_identi )['begin_month'].rank(method = 'min')
data['ord_max'] = data.groupby( var_identi )['begin_month'].rank(method = 'max')
data['ord_first'] = data.groupby( var_identi )['begin_month'].rank(method = 'first')
data['ord_dense'] = data.groupby( var_identi )['begin_month'].rank(method = 'dense')

#data.sort_values(var_identi).head(20)
train = data.sort_values('index')
train.head()
######################################################################################

   index gender car reality  ...  ord_min  ord_max ord_first ord_dense
0      0      F   N       N  ...      5.0      5.0       5.0       5.0
1      1      F   N       Y  ...      6.0      7.0       7.0       5.0
2      2      M   Y       Y  ...      4.0      5.0       5.0       4.0
3      3      F   N       Y  ...      2.0      2.0       2.0       2.0
4      4      F   Y       Y  ...      1.0      1.0       1.0       1.0

[5 rows x 25 columns]

In [97]:
def conti_by_cate(GROUP, CONTI, DATA, method) :
  group = GROUP
  var = CONTI
  vec = []
  if method == 'mean' :
    vec = DATA.groupby( group )[ var ].mean()
  elif method == 'min' :
    vec = DATA.groupby( group )[ var ].min()
  elif method == 'max' :
    vec = DATA.groupby( group )[ var ].max()
  elif method == 'skew' :
    vec = DATA.groupby( group )[ var ].skew()
  elif method == 'med' :
    vec = DATA.groupby( group )[ var ].median()
  idx = vec.index

  for i in range(len(vec)) :
    DATA.loc[DATA[group] == idx[i], f'{var}_by_{group}_{method}'] = vec[i]

In [98]:
train.head()

   index gender car  ... ord_first  ord_dense  income_total_by_occyp_type
0      0      F   N  ...       5.0        5.0                         NaN
1      1      F   N  ...       7.0        5.0               180307.189827
2      2      M   Y  ...       5.0        4.0               278735.249654
3      3      F   N  ...       2.0        2.0               174955.579756
4      4      F   Y  ...       1.0        1.0               278735.249654

[5 rows x 26 columns]

In [104]:
###################### 개인의 신용카드 시작일 간 차이
# 처음은 0으로 설정
train = pd.read_csv("/content/drive/MyDrive/DACON/[월간 데이콘] 14. 신용카드 사용자 연체 예측 AI/train.csv")
data = train.sort_values('begin_month')
data['begin_month_diff'] = data.groupby( var_identi )['begin_month'].diff()
data['begin_month_diff'] = data['begin_month_diff'].fillna(0)
data.sort_values(var_identi).head(20)

       index gender car  ... begin_month  credit  begin_month_diff
6693    6693      F   N  ...       -31.0     2.0               0.0
1141    1141      F   N  ...       -12.0     2.0               0.0
23988  23988      F   N  ...       -41.0     2.0               0.0
6274    6274      F   N  ...       -41.0     2.0               0.0
2390    2390      F   N  ...       -41.0     2.0               0.0
23659  23659      F   N  ...       -26.0     2.0              15.0
16649  16649      F   N  ...       -22.0     2.0               4.0
9987    9987      F   N  ...       -19.0     2.0               3.0
2189    2189      F   N  ...        -7.0     2.0               0.0
9657    9657      F   N  ...       -53.0     0.0               0.0
9540    9540      F   N  ...       -21.0     2.0               0.0
10876  10876      F   N  ...        -1.0     1.0              20.0
25648  25648      F   N  ...       -48.0     2.0               0.0
3520    3520      F   N  ...       -46.0     2.0               2.0
20131  20131      F   N  ...       -24.0     2.0              22.0
19783  19783      F   N  ...       -21.0     2.0               0.0
26414  26414      F   N  ...       -20.0     1.0               0.0
17238  17238      F   N  ...       -14.0     2.0               6.0
6189    6189      F   N  ...        -8.0     2.0               6.0
21194  21194      F   N  ...        -5.0     1.0               3.0

[20 rows x 21 columns]

In [7]:
var_identi = ['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']
train.loc[train[var_identi].duplicated(keep = 'first')].sort_values('DAYS_BIRTH')

       index gender car reality  ...   occyp_type  family_size begin_month credit
18952  18952      F   N       Y  ...          NaN          1.0       -11.0    0.0
24279  24279      F   N       Y  ...          NaN          1.0       -49.0    0.0
26112  26112      F   N       Y  ...          NaN          1.0       -34.0    1.0
21815  21815      F   N       Y  ...          NaN          1.0       -18.0    1.0
10345  10345      F   N       N  ...          NaN          1.0       -46.0    2.0
...      ...    ...  ..     ...  ...          ...          ...         ...    ...
15199  15199      F   N       Y  ...   Core staff          2.0       -11.0    2.0
20609  20609      F   N       Y  ...  Sales staff          3.0       -28.0    2.0
25458  25458      F   N       N  ...  Sales staff          1.0       -13.0    1.0
13980  13980      F   N       N  ...  Sales staff          1.0        -2.0    0.0
21751  21751      M   N       Y  ...  Sales staff          1.0         0.0    1.0

[17732 rows x 20 columns]

In [ ]:
train['cnt'] = 1
train.sort_values("begin_month").groupby( ['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']).sum()

                                                          index  ...  cnt
gender car reality income_total DAYS_BIRTH DAYS_EMPLOYED         ...
F      N   N       27000.0      -14869     -5067           6693  ...    1
                   31500.0      -20836      365243         1141  ...    1
                   33300.0      -19605      365243        82947  ...    6
                   33750.0      -19054      365243         2189  ...    1
                   36000.0      -14846     -154            9657  ...    1
...                                                         ...  ...  ...
M      Y   Y       900000.0     -18337     -1847          46250  ...    3
                                -16923     -2537          57849  ...    5
                                -15344     -1101          66883  ...    3
                                -15295     -5498          50861  ...    3
                                -9889      -1000          64469  ...    4

[8725 rows x 10 columns]

In [ ]:
train.loc[train[['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']].duplicated(keep = False)].sort_values('DAYS_BIRTH').head(20)

       index gender car reality  ...  family_size  begin_month credit cnt
18952  18952      F   N       Y  ...          1.0        -11.0    0.0   1
17245  17245      F   N       Y  ...          1.0        -55.0    0.0   1
24279  24279      F   N       Y  ...          1.0        -49.0    0.0   1
26112  26112      F   N       Y  ...          1.0        -34.0    1.0   1
17632  17632      F   N       Y  ...          1.0        -22.0    1.0   1
21815  21815      F   N       Y  ...          1.0        -18.0    1.0   1
15666  15666      F   N       Y  ...          1.0        -36.0    1.0   1
957      957      F   N       N  ...          1.0        -51.0    0.0   1
10345  10345      F   N       N  ...          1.0        -46.0    2.0   1
14913  14913      F   N       N  ...          1.0        -29.0    1.0   1
1367    1367      F   N       N  ...          1.0        -15.0    1.0   1
5913    5913      F   N       Y  ...          2.0        -13.0    1.0   1
2787    2787      F   N       Y  ...          2.0        -42.0    2.0   1
11553  11553      F   N       Y  ...          2.0        -50.0    2.0   1
11139  11139      F   N       Y  ...          2.0        -45.0    2.0   1
11314  11314      F   N       Y  ...          2.0        -50.0    2.0   1
20308  20308      F   N       Y  ...          2.0        -40.0    2.0   1
12388  12388      M   Y       Y  ...          2.0        -12.0    2.0   1
6441    6441      M   Y       Y  ...          2.0        -35.0    2.0   1
5344    5344      M   Y       Y  ...          2.0        -43.0    2.0   1

[20 rows x 21 columns]

In [ ]:
# train 중복이 있는 경우 : 23251
# train 중복이 없는 경우 : 3206
print(train.loc[train[['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']].duplicated(keep = False)].shape)
print(train.loc[ ~ train[['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']].duplicated(keep = False)].shape)
# test 중복이 있는 경우 : 6889
# test 중복이 없는 경우 : 3111
print(test.loc[test[['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']].duplicated(keep = False)].shape)
print(test.loc[ ~ test[['gender', 'car', 'reality', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED']].duplicated(keep = False)].shape)
# 전체 중복이 있는 경우 : 33383
# 전체 중복이 없는 경우 : 3074
data = pd.concat( [train, test] )
print(data.loc[data[['gender', 'car', 'reality', 'family_type', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'occyp_type', 'income_type']].duplicated(keep = False)].shape)
print(data.loc[ ~ data[['gender', 'car', 'reality', 'family_type', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'occyp_type', 'income_type']].duplicated(keep = False)].shape)

## 3111 -> 3074 : 37 건은 train에 이미 정보가 있음